.App {}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 100px 20px;
  margin: 0 auto;
}

.loading-item {
  padding: 20px;
}

.loading-item-box {
  width: 50px;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}